*
{
  font-family:'Karla', sans-serif;
  font-size:18px;
  margin:0;
  padding:0;
}

p
{
  margin-bottom: 1em;
}

body
{
  background:#fff;
  color:#222;
}

table
{
  border-collapse: collapse; 
  width:100%;
}

pre
{
  font-family: 'Inconsolata', monospace;
}
input,textarea
{
  font-family: 'Inconsolata', monospace;
  width:90%;
}
select,option,button
{
  font-family: 'Inconsolata', monospace;
}
div.output_stats p,h1,h2,td
{
    font-family: 'Inconsolata', monospace;
}

span.dominion_name
{
  font-weight:bold;
}
h1
{
  font-weight: bold;
  font-size: 120%;
}
h2
{
  font-weight: bold;
  font-size: 110%;
}
h3
{
  font-weight: bold;
  font-size:100%;
}


div.success
{
  background:#dfd;
}
div.bounce
{
  background:#fdd;
}
table.output_stats
{
  width:100%;
}
table.output_stats td
{
  width:33%;
}
li.overwhelmed
{
  color:#822;
}

tr.racial td.forest
{
  background:#8b8;
}
tr.racial td.mountains
{
  background:#ccc;
}
tr.racial td.wizard_guilds
{
  background:#cac;
}
tr.racial td.prestige
{
  background:#ff8;
}
tr.racial td.wpa
{
  background:#4cc;
}
tr.racial td.guard_towers
{
  background:#eca;
}


td,th
{
  vertical-align: top;
  text-align: left;
}

tr
{
  margin-top:2px;
  margin-bottom:2px;
}

.ops_samples th
{
  vertical-align: top;
  text-align: left;
  padding-top: 1em;
  padding-right: 1em;
}
.ops_samples td
{
  padding-top:1em;
}

table.ops_samples td.op
{
  width:200px;
}
table.ops_samples tr
{
  border-bottom:1px solid #888;

}
img.ops_samples
{
  width: 300px;
}
textarea.ops_samples
{
  width: 30em;
  height:10em;
}
textarea.dominion
{
  width:60em;
  height:30em;
}

input.submit
{
  height: 2em;
  width: 100%;
}

input[type=number]
{
  width:4em;
}

div.Notice
{
  background:#ffe;
}
div.Notice li
{
  margin-left: 1em;
  list-style: disc;
}
div.Notice ul
{
  margin-bottom:1em;
}


div.Info
{
  background:#eee;
}
div.Info li
{
  margin-left: 1em;
}
div.Info ul
{
  margin-bottom:1em;
}

div.save-calculation
{
  margin-top:1em;
  border:none;
  background:#888;
  color:#fff;
  padding: 1em;
}

div.save-calculation *
{
  margin-bottom:1em;
}

textarea.copy_output
{
  height:1px;
  width:1px;
  color:#fff;
  background:#fff;
  border:none;
  resize:none;
}

button.copy_output
{
  height: 2em;
  width: 100%;
}


textarea.ops
{
  background:#f8f8f8;
  border:1px solid #000;
}

a:link,a:visited
{
  color:#00f;
}
a:active
{
  color:#00a;
}